# Ignore everything in the root of the repo so that files can be explicitly
# whitelisted.
/*

# Directories
!.husky/
!script-helpers/
!src/

# Files
!.babelrc
!.commitlintrc.json
!.dockerignore
!.editorconfig
!.eslintrc.json
!.gitignore
!.prettierrc
!jest.config.js
!nuxt.config.js
!Dockerfile
!LICENSE
!package-lock.json
!package.json
!README.md
!stylelint.config.js
!tsconfig.json
